.container-2{width:100%; margin-top:120px;}
header .header nav li:nth-of-type(7){background:#5c5c5c;}
.banner{max-width:1000px; min-width:380px; margin:0 auto;}
article{width:265px; border-right:1px solid #bbb;}
article li{line-height:50px; width:250px; border-bottom:3px solid #fff;}
article li:nth-of-type(4){border-bottom:3px solid #fa9634;}
article li:nth-of-type(2) .img{height:60px;}
article li:hover{border-bottom:3px solid #fa9634;}
article li:hover .img img:nth-of-type(2){display:block;}
article li:hover .img img:nth-of-type(1){display:none;}
article li:nth-of-type(4):hover .img img{display:block;}
article .img{float:left; padding-left:20px; padding-top:16px;} 
article .active{font-size:22px; color:#222; padding-left:90px; line-height:77px;}

section{width:684px; margin-left:50px; padding-bottom:70px;}
section h3{font-size:18px; color:#fa9634; font-weight:bold; margin-top:18px;}
section h3:nth-of-type(1){margin-top:0;}
section p{margin-top:7px; line-height:27px; font-size:16px; color:#222;}
section p:nth-of-type(2),section p:nth-of-type(3){line-height:40px; font-size:16px; color:#222;}

@media screen and (min-width: 770px) and (max-width: 1038px) {
	.container-2{margin-top:60px;}
	.banner{margin-right:1%; margin-left:1%;}
	.banner article{width:28.5%}
	.banner article .img{width:20%;}
	.banner section{width:66.9%; margin-left:4%;}
	.banner article li{width:94%;}
	.banner article .img{padding-left:8%; padding-top:16px;} 
	.banner article .active{padding-left:38%;}
}

@media screen and (min-width: 650px) and (max-width: 770px) {
	.container-2{margin-top:30px;}
	.banner{margin-right:1%; margin-left:1%;}
	.banner article{width:98%; clear:both; border-right:none;}
	.banner article .active{padding-left:42%;}
	.banner article .img{width:27%;}
	.banner section{width:95%; clear:both; margin-top:20px; margin-left:3%;}
	.banner article li{width:25%; float:left;}
	article li:hover{border-bottom:none;}
	article li:nth-of-type(4){border-bottom:none;}
	article li{border-bottom:none;}
}
@media screen and (min-width: 580px) and (max-width: 650px) {
	.container-2{margin-top:30px;}
	.banner{margin-right:1%; margin-left:1%;}
	.banner article{width:98%; clear:both; border-right:none;}
	.banner article .active{padding-left:0; height:20px; line-height:20px; clear:both; text-align:center;}
	.banner article .img{width:27%; height:60px; clear:both; padding-top:0; margin-left:24%;}
	.banner section{width:95%; clear:both; margin-top:20px; margin-left:3%;}
	.banner article li{width:25%; height:100px; float:left;}
	article li:hover{border-bottom:none;}
	article li:nth-of-type(4){border-bottom:none;}
	article li{border-bottom:none;}
}

@media screen and (max-width: 580px)  {
	.container-2{margin-top:30px;}
	.banner{margin-right:1%; margin-left:1%;}
	.banner article{width:98%; clear:both; border-right:none;}
	.banner article .active{padding-left:0; height:20px; line-height:20px; clear:both; font-size:20px; text-align:center;}
	.banner article .img{width:35%; height:60px; clear:both; padding-top:0; margin-left:18%;}
	.banner section{width:95%; clear:both; margin-top:20px; margin-left:3%;}
	.banner article li{width:25%; height:100px; float:left;}
	article li:hover{border-bottom:none;}
	article li:nth-of-type(4){border-bottom:none;}
	article li{border-bottom:none;}
}



