
section img:nth-of-type(1){display:block; padding-top:13px; padding-bottom:26px;}
section img:nth-of-type(2){display:block; padding-top:13px; padding-bottom:43px;}

.container-2 {width: 100%; margin-top:120px;}
.banner{max-width:1000px; margin:0 auto;}
article{float:left; width:265px; border-right:1px solid #bbb;}
section{width:669px; margin-left:50px; float:left; padding-bottom:300px;}
article li{width:250px; border-bottom:3px solid #fff;}
section h2{font-size:18px; color:#fa9634; line-height:33px; font-weight:bold;font-family:"微软雅黑"; padding-top:10px;}
section h2:nth-of-type(1){padding-top:0;}
section p{font-size:16px; line-height:30px; font-family:"微软雅黑";}
article li a{font-size:22px; color:#222; font-family:"微软雅黑";}
article li .img{float:left; padding-left:20px; padding-top:18px;}
article li .active{padding-top:4px; padding-left:75px; line-height:70px;}
article li:nth-of-type(6):hover .img img:nth-of-type(1){display:block;}
article li:nth-of-type(6){border-bottom:3px solid #fa9634;}
article li:hover{border-bottom:3px solid #fa9634;}
article li:hover .img img:nth-of-type(1){display:none;}
article li:hover .img img:nth-of-type(2){display:block;}

@media screen and (min-width: 1070px) and (max-width: 1200px) {
	.container-2{margin-top:60px;}
}
@media screen and (min-width: 965px) and (max-width: 1070px) {
	.container-2{margin-top:60px;}
	.banner{margin-right:1%; margin-left:1%;}
	.banner article{width:28.5%}
	.banner article .img{width:18%;}
	.banner section{width:66.9%; margin-left:4%;}
	.banner article li{width:94%;}
}

@media screen and (min-width: 770px) and (max-width: 965px) {
	.container-2{margin-top:60px;}
	.banner{margin-right:1%; margin-left:1%;}
	.banner article{width:32.5%}
	.banner article .img{width:15%; padding-left:4%;}
	.banner article .active{padding-left:23%;}
	.banner section{width:61.9%; margin-left:3%;}
	.banner article li{width:94%;}
}

@media screen and (min-width: 650px) and (max-width: 770px) {
	.container-2{margin-top:60px;}
	.banner{margin-right:1%; margin-left:1%;}
	.banner article{width:32.5%}
	.banner article .img{width:13%; padding-left:2%; margin-top:3.5%;}
	.banner article .active{padding-left:18%;}
	.banner article .active span{display:none;}
	.banner section{width:61.9%; margin-left:3%;}
	.banner article li{width:94%;}
}
@media screen and (min-width: 546px) and (max-width: 650px) {
	.container-2{margin-top:60px;}
	.banner{margin-right:2%; margin-left:3%;}
	.banner article{width:99%; clear:both;border:0;}
	.banner .active{width:87%; padding-left:24%;}
	.banner article .active span{display:none;}
	.banner article li{border-bottom:none;}
	.banner article li:hover{border-bottom:none;}
	.banner .img{width:20%; padding-left:0;}
	.banner article li{float:left; width:33%; padding-left:0;}
	.banner section{width:99%; margin-left:0;}
	.banner section{width:99%; margin-left:0; padding-bottom:130px;}
	.banner article li a{font-size:20px;}
	section h2:nth-of-type(1){padding-top:20px;}
}
@media screen and (min-width: 480px) and (max-width: 546px) {
	.container-2{margin-top:60px;}
	.banner{margin-right:2%; margin-left:3%;}
	.banner article{width:99%; clear:both;border:0;}
	.banner .active{width:100%; padding-left:0; clear:both;}
	.banner article .active span{display:none;}
	.banner .img{width:30%; height:31px; padding-left:30%; clear:both;}
	.banner li{text-align:center;}
	.banner article li{float:left; width:33%; padding-left:0;}
	.banner section{width:99%; margin-left:0;}
	.banner article li a{font-size:20px;}
	.banner article li:hover{border-bottom:none;}
	.banner section{width:99%; margin-left:0; padding-bottom:100px;}
	.banner article li{border-bottom:none;}
	section img:nth-of-type(1){display:block; padding-top:20px; padding-bottom:20px;}
	section img:nth-of-type(2){display:block; padding-top:20px; padding-bottom:14px;}
}
@media screen and (max-width: 480px)  {
	.container-2{margin-top:60px;}
	.container-2{margin-top:20px;}
	.banner{margin-right:2%; margin-left:3%;}
	.banner article{width:99%; clear:both;border:0;}
	.banner .active{width:100%; padding-left:0; clear:both;}
	.banner article .active span{display:none;}
	.banner .img{width:30%; height:31px; padding-left:30%; clear:both;}
	.banner li{text-align:center;}
	.banner article li{float:left; width:33%; padding-left:0;}
	.banner section{width:99%; margin-left:0; padding-bottom:70px;}
	.banner article li a{font-size:18px;}
	.banner article li:hover{border-bottom:none;}
	.banner article li{border-bottom:none;}
	section img:nth-of-type(1){display:block; padding-top:14px; padding-bottom:10px;}
	section img:nth-of-type(2){display:block; padding-top:10px; padding-bottom:14px;}
}











